%h1 ox game
<script type="text/javascript" src="/game3.js"></script>
%h2#msg
<a onclick="restart();">restart</a>
<input type="checkbox" id="pc-first"/>PC first
<hr/>
<canvas id="canvas" width="300" height="300" />
